{% extends "views/_base/base.html" %}

{% block introduction %}
	<h1>Multi screen window placement</h1>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1</a></li>
		<li><a href="/exercise-2">Exercise 2</a></li>
		<li><a href="/exercise-3">Exercise 3</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSoZLojsA673E2lNxkttg9-GJjPLutRXkndKNtP2pxPl7yHScOOjhCU9YpsAOAShlInmxe4xahv5ykV/embed" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		<a href="https://meet.google.com/tkb-rmhk-hju">https://meet.google.com/tkb-rmhk-hju</a>
	</div>
{% endblock %}
